body {
	/*font-family: Verdana, Arial, Helvetica, sans-serif;*/
	/*font-size: 10px;*/
	/*color: #222222;*/
	padding: 0px;
  	margin: 0px;
}
hr {
    border: 0;
    height: 1px;
    background: #777777;
}
h1 {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Helvetica, sans-serif;
}
/*.ui-widget, .ui-widget .ui-widget {*/
/*    font-size: 70%;*/
/*}*/
.plaintext {
    /*font-family: Verdana, Arial, Helvetica, sans-serif;*/
	/*font-size: 14px;*/
	/*color: #222222;*/
}
.boldtext {
    font-weight: bold;
    font-size: 10px;
}
#configForm {
    /*font-family: Verdana, Arial, Helvetica, sans-serif;*/
	/*font-size: 14px;*/
    /*color: #222222;*/
}
#reportForm .bottom-margin {
    margin-bottom: 15px;
}
.critical {
	background-color: #ff0000 !important;
	background-image: none !important;
	color: #000000 !important;
}
.major {
	background-color: #ff7300 !important;
	background-image: none !important;
	color: #000000 !important;
}
.minor {
	background-color: #ffc700 !important;
	background-image: none !important;
	color: #000000 !important;
}
.warning {
	background-color: #ffe800 !important;
	background-image: none !important;
	color: #000000 !important;
}
.informational {
	background-color: #00c8ff !important;
	background-image: none !important;
	color: #000000 !important;
}
.indeterminate {
	background-color: #8f5cff !important;
	background-image: none !important;
	color: #000000 !important;
}
.clear {
	background-color: #00d50a !important;
	background-image: none !important;
	color: #000000 !important;
}
.ui-datatable .ui-datatable-header {
	text-align: right !important;
}
.ui-notificationbar {
	position: fixed;
	width: 100%;
	height: 10px;
	display: none;
	padding: 2px;
}
.ui-notificationbar.ui-widget-content {
	border-top: 1px solid #989898;
	border-right: none;
	border-bottom: none;
	border-left: none;
	background: #FFFFFF;
	color: #222222;
	font-size: 11px;
}
body .ui-panelgrid .ui-panelgrid-cell {
    padding: 0.5rem;
}


.tagBorder {
	border: 1px solid #888;
	border-bottom-left-radius: 7px 7px;
	border-bottom-right-radius: 7px 7px;
	border-top-left-radius: 7px 7px;
	border-top-right-radius: 7px 7px;
	font-size: 12px;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-left: 5px;
	padding-right: 5px;
	margin-right: 11px;
	margin-top: 3px;
	margin-bottom: 3px;
}
.targetBorder-true {
	border: 1px solid #ACE49E;
	border-bottom-left-radius: 7px 7px;
	border-bottom-right-radius: 7px 7px;
	border-top-left-radius: 7px 7px;
	border-top-right-radius: 7px 7px;
	background: #D3FFEC;
	font-size: 12px;
	padding: 7px;
	margin-right: 13px;
	margin-top: 5px;
	margin-bottom: 5px;
}
.targetBorder-false {
	border: 1px solid #ECA9BA;
	border-bottom-left-radius: 7px 7px;
	border-bottom-right-radius: 7px 7px;
	border-top-left-radius: 7px 7px;
	border-top-right-radius: 7px 7px;
	background: #FDDDDD;
	font-size: 12px;
	padding: 7px;
	margin-right: 13px;
	margin-top: 5px;
	margin-bottom: 5px;
}

.card {
    background: #F3F3F3;
    padding: 0.5rem;
    box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
    border: 1px solid #CECECE;
    border-radius: 4px;
    margin-bottom: 1.1rem;
}
